.home {
  width: 100%;
  height: 1356px;
  background: url("../assets/img/fundo-home.png") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  background-color: #f2ece6;

  @media only screen and (max-width: 961px) {
    height: 885px;
  }

  .section {
    height: 100vh;
    max-width: 1216px;
    margin: 0 auto;
    z-index: 10;
    position: relative;

    @media only screen and (max-width: 961px) {
      height: 655px;
    }
  }

  .carousel-container {
    width: 100%;
    height: 100%;
  }

  h3,
  h2,
  p {
    margin-bottom: 0;
  }

  h2 {
    font-family: "Averta-Black";
    font-size: 56px;
    line-height: 115%;

    text-align: center;
    letter-spacing: 5px;

    color: #57a0f5;
    text-transform: uppercase;

    margin-top: 0;

    @media (max-width: 541px) {
      font-size: 32px;
    }
  }

  .p1 {
    font: normal 18px "Roboto", sans-serif;
    line-height: 112%;
    text-align: center;
    color: #ffffff;

    margin-bottom: 56px;
  }

  .historia {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: 961px) {
      justify-content: center;
      align-items: center;
    }

    .wrap {
      max-width: 470px;
    }

    h3 {
      text-align: left;
      margin-top: 0;
      letter-spacing: 5px;

      @media (max-width: 961px) {
        font-size: 20px;
      }
    }

    .averta {
      font-family: "Averta-Black";
      font-size: 40px;
      line-height: 130%;
      letter-spacing: 5px;
      color: #57a0f5;
    }

    .p2_averta {
      font-family: "Averta-Bold";
      font-size: 16px;
      line-height: 120%;
      text-align: center;
      color: #fff;
      margin: 0;
      margin-left: 14px;
    }

    .duvida_text {
      display: flex;
      align-items: center;

      margin-top: 40px;

      img,
      svg {
        margin-right: 13px;
      }
    }
  }
}

.segmentos {
  position: relative;
  display: flex;
  flex-direction: column;

  .wrap {
    margin-top: 70px;
    align-items: flex-start;
  }

  .image_lixas {
    display: flex;
    justify-content: flex-end;
    margin-top: -28%;
    animation: floating 6s ease-in-out infinite;

    @media (max-width: 961px) {
      margin-top: -15%;
    }
  }
}

.sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 961px) {
    .sobre_img {
      max-width: 196px;
      margin: 0 auto;
    }
  }

  .text {
    max-width: 540px;

    @media (max-width: 961px) {
      max-width: 100%;
    }

    .p1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;

      color: #8991a4;
      margin-bottom: 71px;

      @media (max-width: 541px) {
        margin-bottom: 42px;
      }
    }
  }
}


// ANIMATIONS
@keyframes floating {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-15px);
  }
  100% {
      transform: translateY(0px);
  }
}